<ion-view view-title="Pets Profiles">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
	
        <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Pet 1 -- Sparky</h2>
                    <img class="full-image" src="img_pets/pet10.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        2
                    </a>
                </div>

					<p><bold>
					     Name : xxxxx<br>
					     Breed: xxxxx<br>
					       DOB: 99/99/9999<br>
                     Vacciness: rabies, etc 
					</bold> 
					</p>
            </div>

        </div>
        <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Pet 2 -- Napoleon</h2>
                    <img class="full-image" src="img_pets/pet11.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        22
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        9
                    </a>
                </div>
				<p><bold>
					     Name : xxxxx<br>
					     Breed: xxxxx<br>
					       DOB: 99/99/9999<br>
                     Vacciness: rabies, etc 
					</bold> 
					</p>
            </div>
        </div>
    </ion-content>
</ion-view>
