<ion-view view-title="Profile" >
    <ion-content ng-class="{expanded:$scope.isExpanded}">

        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="dark">Daenerys Targaryen</a></h3>
                <h4>Rangers</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-android-person-add"></i> Profile
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-ios-paw-outline"></i> My Pets
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-ios-people-outline"></i> Events
            </a>
			<a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-ios-search-strong"></i> Resources
            </a>
        </div>
        <h4 class="content padding double-padding-x">Activities Feed</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.basketdetails" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>VA - Downtown</h2>
                <p>Veteran Job Fair 2016</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.basketdetails" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>VA Service Pets conference</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.basketdetails" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>Commerce VA Work Fair</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			<a ui-sref="app.basketdetails" class="item item-avatar item-icon-right">
                <img src="img/adam.jpg">
                <h2>Adam Lannister</h2>
                <p>Vet Pet DB meet and Greet </p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			
			<a ui-sref="app.basketdetails" class="item item-avatar item-icon-right">
                <img src="img/adam.jpg">
                <h2>Adam Lannister</h2>
                <p>xxxxxVet Pet DB meet and Greet </p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			<a ui-sref="app.basketdetails" class="item item-avatar item-icon-right">
                <img src="img/adam.jpg">
                <h2>Adam Lannister</h2>
                <p>yyyyyyyyVet Pet DB meet and Greet </p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			<a ui-sref="app.basketdetails" class="item item-avatar item-icon-right">
                <img src="img/adam.jpg">
                <h2>Adam Lannister</h2>
                <p>ttttttttVet Pet DB meet and Greet </p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			<a ui-sref="app.basketdetails" class="item item-avatar item-icon-right">
                <img src="img/adam.jpg">
                <h2>Adam Lannister</h2>
                <p>ttttttttVet Pet DB meet and Greet </p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
