<ion-view view-title="SignUp" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>SignUp</h1>
            </div>
        </div>
		<form>
        <div class="list">
		<md-input-container>
            <ion-md-input ng-model="user.username" class="textbox-n" placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
			<ion-md-input ng-model="user.password" placeholder="password" highlight-color="balanced" type="text"></ion-md-input>
			<ion-md-input ng-model="user.phone" placeholder="Phone" highlight-color="balanced" type="text"></ion-md-input>
			<ion-md-input ng-model="user.email" placeholder="Email" highlight-color="balanced" type="text"></ion-md-input>
			<ion-md-input ng-model="user.city" placeholder="City" highlight-color="balanced" type="text"></ion-md-input>
			<ion-md-input ng-model="user.state" placeholder="State" highlight-color="balanced" type="text"></ion-md-input>
		<md-input-container>
            
        </div>
        <div class="padding">
            <button ui-sref="app.postsignup" class="button button-full button-assertive ink" ng-click="createUser()">Send</button>
        </div>
		
		</form>
		
        <!--
		<div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
		-->
		
    </ion-content>
</ion-view>
